<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Monday, June 24</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>1:00</td>        <!-- time    -->
        <td>setup</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>1:15</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/01-intro.html">Introducing the Shell</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>1:20</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/02-filedir.html">Navigating Files and Directories</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>2:00</td>        <!-- time    -->
        <td>break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>2:10</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/03-create.html">Working With Files and Directories</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 7   -->
        <td>3:00</td>        <!-- time    -->
        <td>break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 8   -->
        <td>3:15</td>        <!-- time    -->
        <td><a href="https://hsf-training.github.io/hsf-training-ssh-webpage/">Introduction to SSH</a> (to-be-developed)</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 9   -->
        <td>4:00</td>        <!-- time    -->
        <td>END</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Tuesday, June 25</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/python-ecology-lesson/00-before-we-start.html">Before We Start with Python</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>1:30</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/python-ecology-lesson/01-short-introduction-to-Python.html">Short Introduction to Programming in Python</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:05</td>        <!-- time    -->
        <td>break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>2:20</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/python-ecology-lesson/02-starting-with-data.html">Starting with Data</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>4:00</td>        <!-- time    -->
        <td>END</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Wednesday, June 26</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/python-ecology-lesson/03-index-slice-subset.html">Indexing, Slicing and Subsetting DataFrames in Python</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>2:00</td>        <!-- time    -->
        <td>break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>2:15</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/python-ecology-lesson/04-data-types-and-format.html">Data Types and Formats</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>3:00</td>        <!-- time    -->
        <td>break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>3:15</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/python-ecology-lesson/05-merging-data.html">Combining DataFrames with Pandas</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 6   -->
        <td>4:00</td>        <!-- time    -->
        <td>END</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Thursday, June 27</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00</td>        <!-- time    -->
        <td><a href="https://datacarpentry.org/python-ecology-lesson/06-loops-and-functions.html">Data Workflows and Automation</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>2:30</td>        <!-- time    -->
        <td>break</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>3:00</td>        <!-- time    -->
        <td><a href="https://hsf-training.github.io/hsf-training-matplotlib/01-introduction">Plotting in Python for HEP</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>4:00</td>        <!-- time    -->
        <td>END</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- day 5 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Friday, June 28</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>1:00</td>        <!-- time    -->
        <td>Fitting with <a href="https://scikit-hep.org/iminuit/">iminuit</a> (to-be-developed), breaks</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>4:00</td>
        <td>END</td>
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
  </div>
</div>
